<%= simple_form_for @student do |f| %>
  <div class="form-group">
    <%= f.input :name, input_html:
      { maxlength: 45, autofocus: true, class: "form-control", tabindex: 1 } %>
  </div>

  <div class="form-group">
    <%= f.input :register_number, input_html:
      { maxlength: 45, class: "form-control", tabindex: 2 } %>
  </div>

  <div class="form-group">
    <%= f.input :status do %>
      <%= f.select :status,
      Student.statuses.keys.to_a.map { |s| [s.humanize, s] },
      { tabindex: 3 }, { :class => "form-control", :disabled => true } %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.button :submit, class: "btn btn-primary btn-lg btn-block",
      tabindex: 4 %>
  </div>
<% end %>
