<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= link_to edit_student_path(@student), :class => "action" do %>
        <i class="fa fa-pencil-square-o">
          &nbsp;<%= t("simple_form.forms.defaults.actions.edit") %>
        </i>
      <% end %>
      <%= link_to student_path(@student), :class => "action",
        :method => :delete, data:
        { confirm: t("simple_form.forms.defaults.delete") } do %>
        <i class="fa fa-trash-o">
          &nbsp;
          <%= t("simple_form.forms.defaults.actions.delete") %>
        </i>
      <% end %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2><%= @student.name %></h2>
    </div>

    <div class="panel-body">
      <h3>
        <%= t("activerecord.attributes.student.register_number") %>
        <%= @student.register_number %>
      </h3>
      <h3>
        <%= t("activerecord.attributes.student.status") %>
        <%= @student.status.humanize %>
      </h3>

      <h3>
        <%= t("activerecord.attributes.student.message") %>
      </h3>
      <%= render @student.courses %>
    </div>
  </div>
</div>
