<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= link_to edit_course_path(@course), :class => "action" do %>
        <i class="fa fa-pencil-square-o">
          &nbsp; <%= t("simple_form.forms.defaults.actions.edit") %>
        </i>
      <% end %>
      <%= link_to course_path(@course), :class => "action",
        :method => :delete, data:
        { confirm: t("simple_form.forms.defaults.delete") } do %>
        <i class="fa fa-trash-o">
          &nbsp;<%= t("simple_form.forms.defaults.actions.delete") %>
        </i>
      <% end %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2><%= @course.name %></h2>
    </div>

    <div class="panel-body">
      <h3>
        <%= t("activerecord.attributes.course.description") %>
        <%= @course.description %>
      </h3>
      <h3>
        <%= t("activerecord.attributes.course.status") %>
        <%= @course.status.humanize %>
      </h3>

      <% if @course.status == Course.statuses.keys[0] %>
        <%= render "classrooms/form" %>
      <% end %>

      <h3>
        <%= t("activerecord.attributes.course.message") %>
      </h3>
      <%= render @course.students %>
    </div>
  </div>
</div>
