<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= link_to edit_course_path(@course), :class => "action" do %>
        <i class="fa fa-pencil-square-o">&nbsp;Edit</i>
      <% end %>
      <%= link_to course_path(@course), :class => "action",
        :method => :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fa fa-trash-o">&nbsp;Delete</i>
      <% end %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2><%= @course.name %></h2>
    </div>

    <div class="panel-body">
      <h3>Description: <%= @course.description %></h3>
      <h3>Status do curso: <%= @course.status.humanize %></h3>

      <% if @course.status == Course.statuses.keys[0] %>
        <%= render "classrooms/form" %>
      <% end %>

      <%= render @course.students %>
    </div>
  </div>
</div>
