<!DOCTYPE html>
<html>
<head>
  <title><%= t("titles.app") %></title>
  <meta charset="utf-8">
  <meta name="author" content="Felipe Mota (sanomota@gmail.com)">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "menu" %>

  <div class="container">
    <%= render "flash_messages" %>
    <%= yield %>
  </div>
</body>
</html>
